@import './cmps/app.scss';
@import './cmps/toyFilter.scss';
@import './cmps/toyList.scss';
@import './cmps/toyPreview.scss';
@import './views/home.scss';
@import './views/dahboard.scss';
@import './cmps/header.scss';
@import './cmps/signin.scss';
@import './views/addToy.scss';
@import './cmps/chatApp.scss';