

.toy-app-container{
  background-image: linear-gradient(rgb(240, 226, 226), rgb(221, 221, 207), rgb(217, 218, 224));
  height: 100vh;
  margin: 0;

}

body , p , h1, h2, h3, h4, h5, h6{
    margin: 0;
}

.container {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
    color: #2c3e50;
  }
  
  nav {
    padding: 30px;
  }
  
  nav a {
    font-weight: bold;
    color: #2c3e50;
  }
  
  nav a.router-link-exact-active {
    color: #42b983;
  }

  .slide-btn{
    text-decoration: none;
    color:rgb(68, 67, 67);

  }
  
  .loading{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }