
.logout-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    color:white;
}

.greet-msg{
    margin: 10px;
    padding: 5px;
}

.logout-btn{
    margin-inline-end: 5px;
}