
.loader {
  height: 150px;
}

label img {
  height: 100px;
  cursor: pointer;
  transition: height 0.6s;
}

.img-upload-input {
  width: 0;
  height: 0;
}
.drag {
  color: grey;
  display: inline-block;
  padding: 30px 5px;
  width: 220px;
  border: 1px dashed gray;
  border-radius: 8px;
}

.upload-img{
    width: 50px;
    height: 50px;
}

.toy-img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.toy-details-container{
    background-image: linear-gradient(rgb(240, 226, 226), rgb(221, 221, 207), rgb(217, 218, 224));
    height: 100vh;

}